
/* -------------------------------------------------------------------------- */
/* form section css */
#formSection{
    padding-top: 20px;
}

.col-contact h3{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1em;
    color: #333;
    margin: 20px 0;
    font-size: 24px;
}

/* ---------------------------------------------------- */
/* form css */
.myform{
    margin-top: 45px;
}
.InputBox{
    margin-bottom: 10px;
}
.InputBox textarea{
    font-family: "Open Sans", Arial, sans-serif;
    resize: none;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #cccccc;
    color: #555;
}
.form-control {
    font-family: "Open Sans", Arial, sans-serif;
    display: block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-appearance: none; 
    appearance: none;
}
.form-control:focus{
    outline: none;
    border-color: #82b7ff; 
    background-color: #fff;
    box-shadow: 0 0 5px #82b7ff;
}

.container-contact{
    width: 75%;
    padding: 0px 20px 0px 20px;
    margin: 0 auto;
}
.row-contact{
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}
.col-contact{
    width: 50%;
    padding: 0 15px;
}
.error{
    color: red;
    margin: 2px 5px;
    font-size: 14px;
    font-family: cursive;
}
.btn{
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    background-color: #098ef6;
    color: #fff;
    padding: 12px 30px;
    font-weight: 400;
    border: none;
    justify-content: center;
    float: right; 
    cursor: pointer;
}
.btn:hover{
    background-color: #45a7f3;
}

/* map css */

.map{
    margin: 20px;
}